body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;   
    background-color: rgb(182, 184, 187);
}

ol, ul {
    padding-left: 30px;
}

.board-row::after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.winner {
    font-size: 40px;
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes example {
    from {color: blue;}
    to {color: red;}
  }

.square {
    background: #fff;
    border: 2px solid #999;
    float: left;
    font-size: 50px;
    font-weight: 500;
    line-height: 100px;
    height: 100px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 100px;    
}

@media(max-width: 768px) {
    .square {
        font-size: 14px;
        font-weight: 400;
        line-height: 50px;
        height: 50px;
        width: 50px;
    }

    .winner {
        font-size: 30px;
    }

    .game-info {
        margin-left: 20px;
        font-size: 16px;
    }
}

.red-class {
    color: red;
}

.blue-class {
    color: blue;
}

.square:focus {
    outline: none;
}

.square:hover {
    opacity: 0.5;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.game-info {
    margin-left: 20px;
    font-size: 24px;
}

#root{
    height: 100vh;
}


